<!DOCTYPE html>
<html lang="en" class="h-100">
<link rel="stylesheet" href="dist/notiflix-3.2.7.min.css" />
<link rel="stylesheet" href="dist/notiflix-3.2.7.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notiflix/3.2.7/notiflix.min.css">


<body class="vh-100">
	<div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
				<div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
					<div class="login-form">
						<div class="text-center">
							<h3 class="title">Sign In</h3>
							<p>Sign in to your Teqverse account</p>
						</div>
						<form action="/login" method="POST" id="loginForm">
							<div class="mb-4">
								<label class="mb-1 text-dark">Email or Username</label>
								<input type="text" id="email" name="email" class="text-input form-control form-control" />
							</div>
							<div class="mb-4 position-relative">
								<label class="mb-1 text-dark">Password</label>
								<input type="password" id="password" name="password" class="text-input form-control form-control" />
								<span class="show-pass eye" onclick="togglePassword()">
									<i class="fa fa-eye-slash"></i>
									<i class="fa fa-eye"></i>
								</span>
								<div class="password-error"></div>
							</div>
							<div class="form-row d-flex justify-content-between mt-4 mb-2">
								<div class="mb-4">
									<div class="form-check custom-checkbox mb-3">
										<input type="checkbox" class="form-check-input" id="customCheckBox1">
										<label class="form-check-label mt-1" for="customCheckBox1">Remember my preference</label>
									</div>
								</div>
								<div class="mb-4">
									<a href="/forgot-password" class="btn-link" style="color: #F35A38;">Forgot Password?</a>
								</div>
							</div>
							<div class="text-center mb-4">
								<button type="submit" class="btn btn-primary light btn-block">Sign In</button>
							</div>
							<!-- <h6 class="login-title"><span>Or continue with</span></h6>
						
							<div class="mb-3">
								<ul class="d-flex align-self-center justify-content-center">
									<li><a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f btn-facebook"></a></li>
									<li><a target="_blank" href="https://www.google.com/" class="fab fa-google-plus-g btn-google-plus mx-2"></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin-in btn-linkedin me-2"></a></li>
									<li><a target="_blank" href="https://twitter.com/" class="fab fa-twitter btn-twitter"></a></li>
								</ul>
							</div> -->
							
							
							<div class="form-row d-flex justify-content-between mt-4 mb-2">
								<div class="mb-4">
									<p class="text-center">Not registered?
										<a class="btn-link" href="/signup" style="color: #F35A38;">Register</a>
									</p>
								</div>
								<div class="mb-4">
									<a class="btn-link text-center" href="/login-superuser" style="color: #F35A38;">Login as an administrator</a>
										
								</div>
							</div>
						</form>
					</div>
				</div>
                <div class="col-xl-6 col-lg-6">
					<div class="pages-left h-100">
						<div class="login-content">
							<a href="/"><img src="/img/teqverse.png" class="logo" class="mb-3" style="width: 170px;height: 50px;"  alt="Logo"></a>
            
         				   <p class="mt-2">Your true value is determined by how much more you give in value than you take in payment. ...</p>
						</div>
						<div class="login-media text-center">
							<img src="/images/login&signup.png" alt="">
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>

	<!-- <script src="node_modules/notiflix/dist/notiflix-aio-3.2.7.min.js"></script>

	<script>

	  // Initialize Notiflix with custom settings
	  Notiflix.Notify.Init({
		position: 'right-top', // Change the position here
	  });
  
	  // Check for login success query parameter in the URL
	  const urlParams = new URLSearchParams(window.location.search);
	  if (urlParams.has('login') && urlParams.get('login') === 'success') {
		console.log('Condition met');
		Notiflix.Notify.Success('You have logged in successfully.');
	  }

	</script> -->


	<script>
		function togglePassword() {
			const passwordInput = document.getElementById("password");
			const eyeIcon = document.querySelector(".eye");
	
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeIcon.innerHTML = '<i class="fa fa-eye"></i>';
			} else {
				passwordInput.type = "password";
				eyeIcon.innerHTML = '<i class="fa fa-eye-slash"></i>';
			}
		}
	</script>

</body>
</html>
