<div class="authincation h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
                <div class="login-form">
                    <div class="text-center">
                        <h3 class="title">Reset Password</h3>
                        <p>Reset your Teqverse account password</p>
                    </div>
                    <form action="/reset-password/<%= token %>" method="POST">
                        <!-- Password Field -->
                        <div class="mb-4 position-relative">
                            <label class="mb-1 text-dark">New Password</label>
                            <input type="password" id="dz-password" class="form-control form-control"
                                placeholder="Password" name="password">
                            <span class="show-pass eye" id="eye-password">
                                <i class="fa fa-eye-slash"></i>
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>

                        <!-- Confirm Password Field -->
                        <div class="mb-4 position-relative">
                            <label class="mb-1 text-dark">Confirm Password</label>
                            <input type="password" id="dz-confirm-password" class="form-control form-control"
                                placeholder="Password" name="confirmPassword">
                            <span class="show-pass eye" id="eye-confirm-password">
                                <i class="fa fa-eye-slash"></i>
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                        
                        

                        <div class="text-center mb-4">
                            <button type="submit" class="btn btn-primary light btn-block">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="pages-left h-100">
                    <div class="login-content">
                        <a href="/"><img src="/img/teqverse.png" class="logo" class="mb-3" style="width: 170px;height: 50px;"  alt="Logo"></a>
                        <p class="mt-2">Your true value is determined by how much more you give in value than you
                            take in payment...</p>
                    </div>
                    <div class="login-media text-center">
                        <img src="/images/login&signup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$('form').on('submit', function(e) {
  var password = $('#dz-password').val();
  var confirmPassword = $('#dz-confirm-password').val();

  if (password !== confirmPassword) {
    e.preventDefault();
    alert('Passwords do not match!');
  }
});

</script>
