<h3>Register</h3>
<form action="/create-superuser" method="POST">

  <label for="email"><b>email</b></label>
  <input type="email" placeholder="Enter Email" name="email">

  <label for="name"><b>Name</b></label>
  <input type="text" placeholder="Enter Name" name="name">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>