<!-- updateStatusForm.ejs -->
<form action="/update-status/<%= jobApplication._id %>" method="POST">
    <select name="status">
      <option value="Processing">Processing</option>
      <option value="Approved">Approved</option>
      <option value="Rejected">Rejected</option>
    </select>
    <button type="submit">Update Status</button>
  </form>
  