 <!-- Star Clients Area
    ============================================= -->
    <div class="clients-area standard default-padding">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over <strong>40,000+</strong> businesses worldwide.</h5>
                        <h2>We're working best with <br>your favorite platforms</h2>
                        <a class="btn circle btn-theme effect btn-md" href="#">View All Brands</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="partner-items">
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-angular"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-blackberry"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-amazon-pay"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-codepen"></i>
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->
