  <!-- Start Features
    ============================================= -->
    <div class="simple-features-area text-center default-padding bg-theme text-light">
        <div class="container">
            <div class="row">
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-fingerprint"></i>
                        <h4>Quick Access</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-layer-group"></i>
                        <h4>Cross-Platform</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-cog"></i>
                        <h4>Easy Integration</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
            </div>
        </div>
   </div>
   <!-- End Features -->