   <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col mx-auto">
                        <p>&copy; Copyright <%= new Date().getFullYear(); %>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
            <span class="text-muted">&copy; Learning 2023</span>
        </div>
    </footer> -->
    <!-- End Footer-->
