   <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light mt-auto">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-5 col-md-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">About Us</h4>
                            <p>
                                TeQverse is a comprehensive platform catering to tech professionals' needs, offering job opportunities, learning paths, media content, and essential tech resources.
                            </p>
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/profile.php?id=61555619157391&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/teqverse?igsh=MjhhZWJ6bWoyazNk"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com/teqverse56653"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="tiktok">
                                        <a href="https://www.tiktok.com/@teqverse?_t=8jODJgriF7e&_r=1"><img src="/img/tiktok.png" alt=""></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com/@TEQVERSE-ou4sv"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Explore</h4>
                            <ul>
                                <li>
                                    <a href="#">Job Opportunities</a>
                                </li>
                                <li>
                                    <a href="#">Learning Conten</a>
                                </li>
                                <li>
                                    <a href="#">Media Section</a>
                                </li>
                                <li>
                                    <a href="#">Tech Resources</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <!-- <li>
                                    <a href="about-us.html">About Us</a>
                                </li> -->
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Us</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <p>Email</p> 
                                        <a href="mailto:support@teqverse.com.ng"><strong>support@teqverse.com.ng</strong></a>
                                    </li>
                                    <li>
                                        <p>Contact</p> 
                                        <a href="tel:+2349160325016"><strong>+234 916 032 5016</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-4">
                        <p>&copy; Copyright <%= new Date().getFullYear(); %>. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-4 text-center logo">
                        <a href="/"><img src="/img/logo-blue.png" class="logo" alt="TeqVerse"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->
