<header id="home">




    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">

        <!-- <div class="container"> -->

        <!-- Start Atribute Navigation -->
        <!-- <div class="attr-nav">
                 <ul class="button"> 
                    <% if (typeof user !=='undefined' && user) { %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %></a>
                                <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </li>
                        </li>
                        <% } else { %>
                            <ul class="button">
                    
                                <li>
                                    <a href="/">Get Started</a>
                                </li>
                            </ul>
                        <% } %>
                </ul> 
               
            </div> -->
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/logo-blue.png" class="logo" style="width: 240px;" alt="Logo">
            </a>
        </div>
        <!-- End Header Navigation -->


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="/">Home</a></li>
                <li><a href="/joblist">Jobs</a></li>
                <li><a href="#">Learning</a></li>
                <li><a href="#">Community</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about-us">About us</a></li>
                    </ul>
                </li>

                <% if (user) {%>
                    <% var currentHour=new Date().getHours(); var greeting="" ; if (currentHour < 12) {
                        greeting="Good Morning" ; } else if (currentHour < 16) { greeting="Good Afternoon" ; }
                        else { greeting="Good Evening" ; } %>
                    <li class="dropdown" style="margin-left:70px;">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= greeting %>, <%= user.first_name %> </a>
                        <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                            <li><a href="/user-profile">Profile</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul> 
                    </li>


                        <% } else { %>
                            <div class="attr-nav">
                                <ul class="button">
                                    <li style="margin-left:130px;">
                                        <a href="/login">Get Started</a>
                                    </li>
                                </ul>
                            </div>
                    </li>
                    <% } %>

            </ul>
        </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->
    
</header>
<!-- End Header -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/notiflix/2.7.0/Notiflix-2.7.0.min.js"></script>
  <script>
    // Your JavaScript functions...

    // Function to show a success notification
    function showSuccessNotification(message) {
        Notiflix.Notify.Success(message);
    }

    // Function to show a failure notification
    function showFailureNotification(message) {
        Notiflix.Notify.Failure(message);
    }

    // Simulate user login
    function simulateLogin() {
        const success = true; // Simulating success
        if (success) {
            showSuccessNotification("Login successful");
        } else {
            showFailureNotification("Login failed");
        }
    }

    // Simulate user logout
    function simulateLogout() {
        const success = true; // Simulating success
        if (success) {
            showSuccessNotification("Logout successful");
        } else {
            showFailureNotification("Logout failed");
        }
    }

    // Simulate user registration
    function simulateRegister() {
        const success = true; // Simulating success
        if (success) {
            showSuccessNotification("Registration successful");
        } else {
            showFailureNotification("Registration failed");
        }
    }
  </script>