<!-- Preloader Start -->
<div id="site-preloader" class="site-preloader">
    <div class="loader-wrap">
        <div class="ring">
            <span></span>
        </div>
        <h2>TeqVerse</h2>
    </div>
</div>
<!-- Preloader Ends -->