<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/admin_meta') %>
    <body class="blue">
            <main class="pt-5">
                <%- body %>
            </main>
        

                <!-- jQuery Frameworks
    ============================================= -->
        <%- include ('../partials/jQuery') %>

    </body>

</html>