<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/user_login_meta') %>

    <body>

        <%- body %>
            <!-- jQuery Frameworks
    ============================================= -->
            <%- include ('../partials/js_admin') %>

    </body>

</html>