<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover"
    style="background-image: url(/img/banner/Rectangle3039.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="media-h1">Dive into a World of Digital Brilliance <span>Discover, Engage, Inspire</span></h2>
                <div class="container mt-5">
                    <form action="/" method="get">
                        <div class="p-2 media-search-form">
                            <div class="input-group">
                                <input type="text" name="q" id="searchTerm" class="form-control"
                                    placeholder="Search for articles, video or news" value="" style="border: none;">
                                <button class="btn media-search" type="submit"
                                    style="border-right: none;">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog -->

<div class="container featured-content mt-5">
    <!-- Featured content Card starts here  -->
    <div class="title">
        <h4>Featured Contents
            <hr>
        </h4>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class=" d-flex justify-content-center">
                                    <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                      </svg></a>
                                </div>
                                <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage1.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class=" d-flex justify-content-center">
                                    <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                      </svg></a>
                                </div>
                                <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage (3).png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class=" d-flex justify-content-center">
                                    <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                      </svg></a>
                                </div>
                                <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class=" d-flex justify-content-center">
                                    <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                      </svg></a>
                                </div>
                                <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class=" d-flex justify-content-center">
                                    <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                      </svg></a>
                                </div>
                                <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="card-title">Card title</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card media-card">
                            <img src="/img/blog/BlogImage.png" class="card-img-top blog-image" alt="...">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="card-title">Card title</h5>
                                <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
              </svg>
        </button>
    </div>
    <!-- Featured content card Ends here  -->


    <!-- Pagination -->
    <!-- <div class="row">
        <div class="col-md-12 pagi-area text-center">
            <nav aria-label="navigation">
                <ul class="pagination">

                    <li class="page-item"><a class="page-link" href=""><i
                                class="fas fa-angle-double-left"></i></a></li>

                    <li class="page-item active"><a class="page-link" href="">
                            1
                        </a></li>

                    <li class="page-item"><a class="page-link" href=""><i class="fas fa-angle-double-right"></i></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div> -->
</div>

<!-- BROWSE CATEGORY SECTION -->
<div class="container-fluid browse-category mt-5 mx-auto">
    <div class="container py-5">
        <div class="title d-flex justify-content-center">
            <h4>Browse Categories
                <hr>
            </h4>
        </div>
        <div class="d-flex justify-content-around">
            <button class="btn btn-outline-dark browse-category-1 " style="font-size: 12px;">
                Industry Discussions
            </button>
            <button class="btn btn-outline-dark browse-category-1" style="font-size: 12px;">
                Tech Insight
            </button>
            <button class="btn btn-outline-dark browse-category-1" style="font-size: 12px;">
                Nesw & Trend
            </button>
            <button class="btn btn-outline-dark browse-category-1" style="font-size: 12px;">
                User Post
            </button>
            <button class="btn btn-outline-dark browse-category-1" style="font-size: 12px;">
                Technology
            </button>
        </div>
    </div>
</div>

<!-- INDUSTRY DISCUSSIONS AND INTERVIEWS -->
<div class="container industry-disc mx-auto">
    <div class="container py-5">
        <div class="d-flex justify-content-between mb-3">
            <div class="title">
                <h4>Industry Discussions And Interviews
                    <hr>
                </h4>
            </div>
            <div class="title">
                <a href="" class="custom-link">View More</a>
            </div>
        </div>
        <div class="row mx-auto">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card media-card">
                        <img src="/img/blog/BlogImage1.png" class="card-img-top blog-image" alt="...">
                        <div class="card-body">
                            <div class="">
                                <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                            </div>
                            <div class=" d-flex justify-content-center">
                                <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #fff;" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                  </svg></a>
                            </div>
                            <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card media-card">
                        <img src="/img/blog/BlogImage (2).png" class="card-img-top blog-image" alt="...">
                        <div class="card-body">
                            <div class="">
                                <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                            </div>
                            <div class=" d-flex justify-content-center">
                                <a href="#" class="btn media-card-button">Watch Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #fff;" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                  </svg></a>
                            </div>
                            <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card media-card">
                        <img src="/img/blog/BlogImage (3).png" class="card-img-top blog-image" alt="...">
                        <div class="card-body">
                            <div class="">
                                <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                            </div>
                            <div class=" d-flex justify-content-center">
                                <a href="#" class="btn media-card-button">Listen Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #fff;" class="bi bi-headphones" viewBox="0 0 16 16">
                                    <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
                                  </svg></a>
                            </div>
                            <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card media-card">
                        <img src="/img/blog/BlogImage (4).png" class="card-img-top blog-image" alt="...">
                        <div class="card-body">
                            <div class="">
                                <h5 class="media-card-title">Effect of ai art on digital Artists</h5>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque corrupti provident quos voluptates velit! Sunt facilis eum aliquam nemo dolores? Consequuntur recusandae incidunt et earum excepturi quidem rem fuga facilis?</p>
                            </div>
                            <div class=" d-flex justify-content-center">
                                <a href="#" class="btn media-card-button">Read <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill my-auto" style="color: #fff;" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg></a>
                            </div>
                            <!-- REMEMBER TO ADD A FUNCTION FOR VIDEO, AUDIO AND NEWS BUTTON -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- TECH INSIGHTS & FUN FACTS-->
<div class="container-fluid recommended-Job mt-5 mx-auto">
    <div class="container py-5">
        <div class="d-flex justify-content-between mb-3">
            <div class="title">
                <h4>Tech insights and fun facts
                    <hr>
                </h4>
            </div>
            <div class="title">
                <a href="" class="custom-link">View More</a>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- TECH NEWS AND TRENDS -->
<div class="container tech-news mx-auto">
    <div class="container py-5">
        <div class="d-flex justify-content-between mb-3">
            <div class="title">
                <h4>Tech insights and fun facts
                    <hr>
                </h4>
            </div>
            <div class="title">
                <a href="" class="custom-link">View More</a>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card border border-0 custom-card">
                        <div class="card-body fun-fact">
                            
                            <h2 class="">Effect of ai art on digital Artists</h2>
                            
                            <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga iste sit dignissimos repellat laboriosam molestias atque, odio hic cupiditate? Tempora, voluptatum dignissimos? Eveniet reprehenderit tempora mollitia, veniam qui porro hic.</p>
                            <div>
                                <a href="">Read More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                  </svg></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- OUR USERS -->
<div class="container tech-news mx-auto">
    <div class="d-flex justify-content-between mb-3">
        <div class="title">
            <h4>From Our Users
                <hr>
            </h4>
        </div>
        <div class="title">
            <a href="" class="custom-link">View More</a>
        </div>
    </div>
</div>

<!-- FOLLOW & SUBSCRIBE SECTION -->
<div class="container-fluid follow-us bg-white mt-5 mx-auto">
    <div class="container py-3">
        <div class="title">
            <h4>Follow Us
                <hr>
            </h4>
        </div>
        <div class="row">
            <div class="sidebar-item col-lg-6 col-md-12 my-3 social-sidebar">
                <div class="sidebar-info">
                    <ul>
                        <li class="facebook">
                            <a href="https://www.facebook.com/profile.php?id=61555619157391&mibextid=ZbWKwL">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/teqverse?igsh=MjhhZWJ6bWoyazNk"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li class="">
                            <a href="https://twitter.com/teqverse56653">
                                <i class="fab fa-xing"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="https://www.youtube.com/@TEQVERSE-ou4sv">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0 mb-4">
                <form action="/subscribe" method="post">
                    <div class="input-group col-12 p-0">
                        <input type="email" name="email" class="form-control" id="email"
                            placeholder="Subscribe to Latest Jobs">
                        <button class="btn btn-outline-secondary" type="submit"><i
                                class="fas fa-paper-plane"></i></button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- End Blog -->
<a href="https://wa.me/2349050340306" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>