

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(/img/banner/12.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#"><i></i> Resources</a></li>
                        <li class="active"> About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <!-- <div class="faq-area default-padding">
        <div class="pricing pricing-simple text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="pricing-item" style="height: 400px;">
                        <div class="pricing-header d-flex align-items-center justify-content-center">
                            <h4>Vission Statement</h4>
                        </div>
                        <div>
                            <p>Empowering the global tech <br> community through a dynamic <br> platform for learning, networking <br> and career growth.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="pricing-item active" style="height: 430px;">
                        <div class="pricing-header d-flex align-items-center justify-content-center">
                            <h4>Key Objectives</h4>
                        </div>
                        <div>
                            <p>Establish Teqverse as the go-to  platform for quality tech jobs,  premium learning content, engaging social interactions and affirdable tech resources.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="pricing-item" style="height: 400px;">
                        <div class="pricing-header d-flex align-items-center justify-content-center" >
                            <h4>Mission Statement</h4>
                        </div>
                        <div>
                            <p>Teqverse is committed to curating  top-tier tech Opportunities, enriching  learning experiences, fostering a vibrant  social hub, and providing accessible resources.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->
    <!-- End Blog -->

   