<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Maxa - Multipurpose HTML5 Template">

    <!-- ========== Page Title ========== -->
    <title>Maxa - Multipurpose HTML5 Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->


</head>

<body class="blue">

    <!-- Preloader Start -->
    <div id="site-preloader" class="site-preloader">
        <div class="loader-wrap">
            <div class="ring">
                <span></span>
            </div>
            <h2>Maxa</h2>
        </div>
    </div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area top-bar-style-two bg-dark text-light">
        <div class="container-full">
            <div class="row align-center">
                <div class="col-lg-7 info-colums text-left">
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            California, TX 70240 
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                               <a href="mailto:Info@gmail.com">info@gmail.com</a>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <a href="tel:+1234567890">+123 456 7890</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 text-right item-flex">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fas fa-clock"></i> Office Hours: 8:00 AM – 7:45 PM
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <div class="container-full">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="button theme">
                        <li>
                            <a href="#">Get Free Quote</a>
                        </li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo-blue.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-it-solution.html">It Solution</a></li>
                                <li><a href="index-startup-agency.html">Startup Agency</a></li>
                                <li><a href="index.html">Marketing Agency</a></li>
                                <li><a href="index-digital-agency.html">Digital Agency</a></li>
                                <li><a href="index-software-landing.html">Software Landing</a></li>
                                <li><a href="business-blue.html">Business Conlusting</a></li>
                                <li><a href="creative-agency.html">Creative Agency</a></li>
                                <li><a href="minimal-ecommerce.html">Minimal Ecommerce</a></li>
                                <li><a href="corporate-business.html">Corporate Business</a></li>
                                <li><a href="app-landing.html">App Landing</a></li>
                                <li><a href="consulting-business.html">Consulting Business</a></li>
                                <li><a href="index-ebook.html">eBook landing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Pages</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Projects</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="projects.html">Our Projects</a></li>
                                        <li><a href="project-details.html">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="shop-single.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html">Services Version One</a></li>
                                <li><a href="services-2.html">Services Version Two</a></li>
                                <li><a href="services-details.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                                <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area auto-height banner-style-nine text-light">
        <div id="bootcarousel" class="carousel slide carousel-fade animate_text" data-ride="carousel" data-interval="5000000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active bg-cover" style="background-image: url(assets/img/business/banner-1.jpg);">
                    <div class="box-table shadow dark">
                        <div class="box-cell" style="background-image: url(assets/img/business/shape-1.png);">
                            <div class="container">
                                <div class="content">
                                    <div class="row align-center">
                                        <div class="col-lg-8 info">
                                            <h2 data-animation="animated slideInLeft">Grow <strong>Business</strong> <span>Aveit</span> </h2>
                                            <p data-animation="animated fadeInRight">
                                                Difficult resembled eagerness nor. Same park bore on be. Warmth his law design say are person. Pronounce suspected in belonging.
                                            </p>
                                            <a class="btn btn-theme effect btn-md" href="contact.html"  data-animation="animated fadeInDown">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item bg-cover" style="background-image: url(assets/img/business/banner-2.jpg);">
                    <div class="box-table shadow dark">
                        <div class="box-cell" style="background-image: url(assets/img/business/shape-1.png);">
                            <div class="container">
                                <div class="content">
                                    <div class="row align-center">
                                        <div class="col-lg-8 info">
                                            <h2 data-animation="animated slideInLeft">Easy <strong>Solution</strong> <span>Aveit</span> </h2>
                                            <p data-animation="animated fadeInRight">
                                                Difficult resembled eagerness nor. Same park bore on be. Warmth his law design say are person. Pronounce suspected in belonging.
                                            </p>
                                            <a class="btn btn-theme effect btn-md" href="contact.html"  data-animation="animated fadeInDown">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
                <i class="arrow_left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootcarousel" data-slide="next">
                <i class="arrow_right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Services
    ============================================= -->
    <div class="services-style-nine-area text-center bg-cover bg-gray overflow-hidden default-padding" style="background-image: url(assets/img/business/shape/building-bg.png);">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Services We Provide</h5>
                        <h2>Turn Information <br> Into Actionable Insights</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="services-style-nine-grid">

                <div class="shape">
                    <img src="assets/img/shape/45.png" alt="Image not found">
                </div>

                <div class="grid">
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/1.png" alt="Icon">
                        </div>
                        <h4><a href="#">Business Solution</a></h4>
                        <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/4.png" alt="Icon">
                        </div>
                        <h4><a href="#">Creative Ideas</a></h4>
                        <p>
                            Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                        </p>
                    </div>
                </div>

                <div class="grid">
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/8.png" alt="Icon">
                        </div>
                        <h4><a href="#">Market Research</a></h4>
                        <p>
                            Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                        </p>
                    </div>
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/5.png" alt="Icon">
                        </div>
                        <h4><a href="#">Best Solution</a></h4>
                        <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="grid">
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/launching.png" alt="Icon">
                        </div>
                        <h4><a href="#">Digital Startup Agency</a></h4>
                        <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="services-style-nine">
                        <div class="icon">
                            <img src="assets/img/business/icon/6.png" alt="Icon">
                        </div>
                        <h4><a href="#">Business Growth Model</a></h4>
                        <p>
                            Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start About
    ============================================= -->
    <div class="about-style-nine-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumb">
                        <img src="assets/img/business/about-1.jpg" alt="Image not found">
                        <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube video-btn"><i class="fal fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <h2>Since the 1980s, the complexity of business increase the field of organization became multi with specializations.</h2>
                    <div class="row">
                        <div class="col-lg-7">
                            
                            <ul class="list-about">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-wreath"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Certified Company</h5>
                                        <p>
                                            Resolved entrance together graceful. Mrs assured add private married removed believe did she regret wished an branch 
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-trophy"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Award Ceremony</h5>
                                        <p>
                                            Resolved entrance together graceful. Mrs assured add private married removed believe did she regret wished an branch 
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <img src="assets/img/business/about-2.jpg" alt="Image Not Found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Choose Us
    ============================================= -->
    <div class="choose-us-style-nine-area box-layout bg-gradient text-light default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 left-info">
                    <h2>What <strong>makes</strong> us different</h2>
                </div>
                <div class="col-lg-9 right-info">
                    <div class="row">
                        <!-- Single item -->
                        <div class="col-lg-4">
                            <div class="choose-us-style-nine">
                                <span>01</span>
                                <h4>Practical Booking Functionality</h4>
                                <p>
                                    Again keeps at no meant stuff. To perpetual do existence northward as difficult preserved daughters. Continued at up to zealously necessary breakfast.
                                </p>
                            </div>
                        </div>
                        <!-- Single item -->
                        <!-- Single item -->
                        <div class="col-lg-4">
                            <div class="choose-us-style-nine">
                                <span>02</span>
                                <h4>In Real-Time Booking</h4>
                                <p>
                                    Again keeps at no meant stuff. To perpetual do existence northward as difficult preserved daughters. Continued at up to zealously necessary breakfast.
                                </p>
                            </div>
                        </div>
                        <!-- Single item -->
                        <!-- Single item -->
                        <div class="col-lg-4">
                            <div class="choose-us-style-nine">
                                <span>03</span>
                                <h4>Social media integration</h4>
                                <p>
                                    Again keeps at no meant stuff. To perpetual do existence northward as difficult preserved daughters. Continued at up to zealously necessary breakfast.
                                </p>
                            </div>
                        </div>
                        <!-- Single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Choose Us -->

    <!-- Star Team
    ============================================= -->
    <div class="team-area default-padding-top bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Team members</h5>
                        <h2>Meet our professional and expert team members</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="team-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="team-style-two">
                            <div class="thumb">
                                <img src="assets/img/team/1.jpg" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="team-single.html">Lucas Ethan</a></h4>
                                    <span>SEO Expert</span>
                                </div>
                                <div class="team-social">
                                    <div class="list">
                                        <i class="fas fa-plus"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="team-style-two">
                            <div class="thumb">
                                <img src="assets/img/team/2.jpg" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="team-single.html">Jack Alexander</a></h4>
                                    <span>Marketing Expert</span>
                                </div>
                                <div class="team-social">
                                    <div class="list">
                                        <i class="fas fa-plus"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="team-style-two">
                            <div class="thumb">
                                <img src="assets/img/team/3.jpg" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="team-single.html">William James</a></h4>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-social">
                                    <div class="list">
                                        <i class="fas fa-plus"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->

    <!-- Star Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Review</h5>
                        <h2>10,000+ Happy Customers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Product Design)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="assets/img/teams/1.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Customer Support)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="assets/img/teams/2.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Bug Fixing)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="assets/img/teams/3.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Star Blog
    ============================================= -->
    <div class="blog-area full-blog default-padding bg-gray bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Latest News</h5>
                        <h2>Most Popular Breaking News & Top Stories</h2>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/blog/3.jpg" alt="Thumb">
                                <div class="date">15 Jul, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="blog-single-with-sidebar.html">Discovery incommode earnestly commanded</a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="assets/img/teams/1.jpg" alt="Author">
                                           <span>By </span>
                                           <a href="blog-with-sidebar.html">John Baus</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="blog-with-sidebar.html">Agency</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/blog/4.jpg" alt="Thumb">
                                <div class="date">26 Aug, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="blog-single-with-sidebar.html">Extremely depending he gentleman improving. </a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="assets/img/teams/6.jpg" alt="Author">
                                           <span>By </span>
                                           <a href="blog-with-sidebar.html">Mun Paul</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="blog-with-sidebar.html">Digital</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/blog/5.jpg" alt="Thumb">
                                <div class="date">18 Sep, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="blog-single-with-sidebar.html">Prevailed remainder may propriety can and. </a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="assets/img/teams/3.jpg" alt="Author">
                                           <span>By </span>
                                           <a href="blog-with-sidebar.html">Hesam Doe</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="blog-with-sidebar.html">Creative</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- Star Contact Area
    ============================================= -->
    <div class="contact-area default-padding">
        <!-- Fixed BG -->
        <div class="fixed-bg left">
            <img src="assets/img/illustration/9.png" alt="Shape">
        </div>
        <!-- Fixed BG -->
    
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    
                
                    <div class="col-lg-7 contact-box">
                        <div class="form-items">
                            <h5>Contact Us</h5>
                            <h2>Then book your trip from <br>our exclusive offers.</h2>
                            <form action="assets/mail/contact.php" method="POST" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" id="submit">
                                            Send Now
                                        </button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="col-lg-12 alert-notification">
                                    <div id="message" class="alert-msg"></div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-5 left-info">
                        <div class="info-items">
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="info">
                                    <h5>Location</h5>
                                    <p>
                                        22 Baker Street, London, <br> United Kingdom, W1U 3BW
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-telephone"></i>
                                </div>
                                <div class="info">
                                    <h5>Make a Call</h5>
                                    <p>
                                        +1-940-394-2948 <br> +1-389-385-3807
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="info">
                                    <h5>Send a Mail</h5>
                                    <p>
                                        info@Maxa.com <br>
                                        support@Maxa.com
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-5 col-md-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">About Us</h4>
                            <p>
                                Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted Excuse few the remain highly feebly add people manner say. It high at my mind by roof. 

                            </p>
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li>
                                    <a href="services-details.html">SEO Marketing</a>
                                </li>
                                <li>
                                    <a href="services-details.html">Pay Per Click</a>
                                </li>
                                <li>
                                    <a href="services-details.html">SEO Services</a>
                                </li>
                                <li>
                                    <a href="services-details.html">Social Media</a>
                                </li>
                                <li>
                                    <a href="services-details.html">SEO Audit</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <li>
                                    <a href="about-us.html">About Us</a>
                                </li>
                                <li>
                                    <a href="team.html">Team</a>
                                </li>
                                <li>
                                    <a href="about-us.html">Career</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="about-us.html">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Us</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <p>Address</p> 
                                        <strong>California, TX 70240</strong>
                                    </li>
                                    <li>
                                        <p>Email</p> 
                                        <strong>support@validtheme.com</strong>
                                    </li>
                                    <li>
                                        <p>Contact</p> 
                                        <strong>+44-20-7328-4499</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-4">
                        <p>&copy; Copyright 2021. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-4 text-center logo">
                        <a href="index.html"><img src="assets/img/logo-light.png" alt="Logo"></a>
                    </div>
                    <div class="col-lg-4 text-right newsletter">
                        <form action="#">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>  
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>