<%- include ('./partials/header.ejs') %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(assets/img/banner/12.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Blog Grid Colum</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="blog-content">
                    <div class="blog-item-box">
                        <div class="row">
                            <!-- Single Item -->
                            <div class="col-lg-6 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/img/blog/1.jpg" alt="Thumb">
                                        <div class="date">15 Jul, 2021</div>
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="blog-single-with-sidebar.html">Discovery incommode earnestly no he commanded</a>
                                        </h3>
                                        <div class="footer-meta">
                                           <ul>
                                               <li>
                                                   <img src="assets/img/teams/1.jpg" alt="Author">
                                                   <span>By </span>
                                                   <a href="blog-with-sidebar.html">John Baus</a>
                                               </li>
                                               <li>
                                                   <span>In </span>
                                                   <a href="blog-with-sidebar.html">Agency</a>
                                               </li>
                                           </ul>
                                        </div>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme border btn-sm" href="blog-single-with-sidebar.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                             <!-- Single Item -->
                            <div class="col-lg-6 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/img/blog/2.jpg" alt="Thumb">
                                        <div class="date">26 Aug, 2021</div>
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="blog-single-with-sidebar.html">Extremely depending he gentleman improving. </a>
                                        </h3>
                                        <div class="footer-meta">
                                           <ul>
                                               <li>
                                                   <img src="assets/img/teams/2.jpg" alt="Author">
                                                   <span>By </span>
                                                   <a href="blog-with-sidebar.html">Mun Paul</a>
                                               </li>
                                               <li>
                                                   <span>In </span>
                                                   <a href="blog-with-sidebar.html">Digital</a>
                                               </li>
                                           </ul>
                                        </div>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme border btn-sm" href="blog-single-with-sidebar.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                             <!-- Single Item -->
                            <div class="col-lg-6 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/img/blog/3.jpg" alt="Thumb">
                                        <div class="date">18 Sep, 2021</div>
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="blog-single-with-sidebar.html">Prevailed remainder may propriety can and. </a>
                                        </h3>
                                        <div class="footer-meta">
                                           <ul>
                                               <li>
                                                   <img src="assets/img/teams/3.jpg" alt="Author">
                                                   <span>By </span>
                                                   <a href="blog-with-sidebar.html">Hesam Doe</a>
                                               </li>
                                               <li>
                                                   <span>In </span>
                                                   <a href="blog-with-sidebar.html">Creative</a>
                                               </li>
                                           </ul>
                                        </div>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme border btn-sm" href="blog-single-with-sidebar.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-6 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/img/blog/4.jpg" alt="Thumb">
                                        <div class="date">15 Jul, 2021</div>
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="blog-single-with-sidebar.html">Discovery incommode earnestly no he commanded</a>
                                        </h3>
                                        <div class="footer-meta">
                                           <ul>
                                               <li>
                                                   <img src="assets/img/teams/4.jpg" alt="Author">
                                                   <span>By </span>
                                                   <a href="blog-with-sidebar.html">John Baus</a>
                                               </li>
                                               <li>
                                                   <span>In </span>
                                                   <a href="blog-with-sidebar.html">Agency</a>
                                               </li>
                                           </ul>
                                        </div>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme border btn-sm" href="blog-single-with-sidebar.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-md-12 pagi-area text-center">
                                <nav aria-label="navigation">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="blog-with-sidebar.html"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="blog-with-sidebar.html">1</a></li>
                                        <li class="page-item"><a class="page-link" href="blog-with-sidebar.html">2</a></li>
                                        <li class="page-item"><a class="page-link" href="blog-with-sidebar.html">3</a></li>
                                        <li class="page-item"><a class="page-link" href="blog-with-sidebar.html"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <%- include ('./partials/footer.ejs') %>