<header id="home">


<ul class="button">


<!-- Start Banner 
    ============================================= -->
    <div class="banner-area auto-height software-banner">
        <!-- Shape -->
        <div class="shape-right-top" style="background-image: url(/img/shape/20.png);"></div>
        <!-- End Shape -->
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <!-- Shape -->
                    <div class="shape-bottom-center" style="background-image: url(/img/shape/1.png);"></div>
                    <!-- End Shape -->
                    <div class="container">
                        <div class="banner-items">
                            <div class="row align-center">
                                <div class="col-lg-6">
                                    <div class="content">
                                        <h2 class="wow fadeInDown" data-wow-duration="400ms">Start your <br>  Tech journey <br> with TEQVERSE</h2>
                                        <p class="wow fadeInUp" data-wow-duration="500ms">
                                            TEQVERSE is a specialized platform designed to cater to the needs of tech professionals in Nigeria and beyond. It encompasses four key aspects: Job Opportunities, Learning Content, Media, and Tech Resources. The platform aims to provide a holistic experience, addressing both professional and social needs within the tech community.
                                        </p>
                                        <div class="pt-3"> 
                                            <button type="submit">Explore more</button> 
                                        </div> 
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6 thumb-content-box">
                                    <div class="thumb-items">
                                        <img class="wow fadeInDown" src="/img/illustration/dashboard-2.png" alt="Dashbaord">
                                        <img class="wow fadeInUp" data-wow-delay="300ms" src="/img/illustration/chat-1.png" alt="illustration">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

      <!-- Start Features
    ============================================= -->
    <div class="simple-features-area text-center default-padding bg-theme text-light">
        <div class="container">
            <div class="row">
                <!-- Single Item-->
                <div class="single-item col-lg-3 col-md-6">
                    <a href="#">
                        <div class="item">
                            <i class="fal fa-fingerprint"></i>
                            <h4>Job Opportunities</h4>
                            <p>
                                Choose Your Path with Hybrid, Remote, or Onsite Options. Tailored Job Filters and Recommendations for Your Tech Journey. Your Dream Job Awaits, Seize the Future!"
                            </p>
                        </div>
                    </a>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-3 col-md-6">
                    <a href="#">
                        <div class="item">
                            <i class="fal fa-layer-group"></i>
                            <h4>Learning Content</h4>
                            <p>
                                Dive into Interactive Videos, Quizzes, and Consultations. Unleash Your Potential with Our Content Management Hub – Your Gateway to Skill Mastery!"
                            </p>
                        </div>
                    </a>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-3 col-md-6">
                    <a href="#">
                        <div class="item">
                            <i class="fal fa-cog"></i>
                            <h4>Media Section</h4>
                            <p>
                                Dive into Vibrant Video Discussions, Exclusive Interviews, and User-Generated Buzz. Uncover Tech Insights, Fun Facts, and Daily Trends. Be the Trendsetter – Share, Learn, and Engage with the Pulse of the Tech World!"
                            </p>
                        </div>
                    </a>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-3 col-md-6">
                    <a href="#">
                        <div class="item">
                            <i class="fal fa-check-circle"></i>
                            <h4>Tech Resources</h4>
                            <p>
                                Elevate Your Tech Arsenal! Unlock Exclusive Hosting Deals, Manage Access with Ease, and Optimize Resource Allocation. Your Gateway to Premium Tech Resources Starts Here
                            </p>
                        </div>
                    </a>
                </div>
                <!-- End SIngle Item-->
            </div>
        </div>
   </div>
   <!-- End Features -->

    <!-- Star Clients Area
    ============================================= -->
    <!-- <div class="clients-area standard default-padding">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over <strong>40,000+</strong> businesses worldwide.</h5>
                        <h2>We're working best with <br>your favorite platforms</h2>
                        <a class="btn circle btn-theme effect btn-md" href="#">View All Brands</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="partner-items">
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-angular"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-blackberry"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-amazon-pay"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-codepen"></i>
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Clients Area -->

 <!-- Start Overview Area
    ============================================= -->
    <div class="overview-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Overview</h5>
                        <h2>Quick Software Overview</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="software-overview-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>01</span>
                                <h4>App Integration</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/1.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>02</span>
                                <h4>App Customization</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/2.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Overview Area -->

    

    <!-- Start Pricing Area
    ============================================= -->
    <div class="pricing-area plain default-padding-bottom bottom-less">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="/img/shape/20.png" alt="Shape">
        </div>
        <!-- Fixed Shape -->
       
        <!-- <div class="container">
            <div class="pricing pricing-simple text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item" style="height: 400px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center">
                                <h4>Vission Statement</h4>
                            </div>
                            <div>
                                <p>Empowering the global tech <br> community through a dynamic <br> platform for learning, networking <br> and career growth.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item active" style="height: 430px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center">
                                <h4>Key Objectives</h4>
                            </div>
                            <div>
                                <p>Establish Teqverse as the go-to  platform for quality tech jobs,  premium learning content, engaging social interactions and affirdable tech resources.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item" style="height: 400px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center" >
                                <h4>Mission Statement</h4>
                            </div>
                            <div>
                                <p>Teqverse is committed to curating  top-tier tech Opportunities, enriching  learning experiences, fostering a vibrant  social hub, and providing accessible resources.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- End Pricing Area -->

     <!-- Star Faq
    ============================================= -->
    <div class="faq-area default-padding">
        <div class="container">
            <div class="faq-items">
                <div class="row">

                    <div class="col-lg-6 thumb">
                        <img src="/img/illustration/20.png" alt="Shape">
                    </div>

                    <div class="col-lg-6">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is TeQverse?
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse is a comprehensive platform catering to tech professionals' needs, offering job opportunities, learning paths, media content, and essential tech resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How does TeqVerse curate job opportunities?
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                We curate job listings meticulously, focusing on quality positions with real organizations, competitive remuneration, and flexibility options like hybrid, remote, and onsite work.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What learning resources does TeQverse provide?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse offers structured learning paths, interactive content, resume building guides, interview preparation resources, and consultation booking with industry experts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What is the social space in TeQverse's media module?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                The social space includes video and audio discussions, industry interviews, tech insights, fun facts, news updates, and user-generated content submissions.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How can users filter and find jobs on TeQverse?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse provides user-friendly filters for job searches based on skills, experience, and preferences. Additionally, personalized job recommendations are offered.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq -->

    <!-- Star Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Testimonials</h5>
                        <h2>10,000+ Happy Customers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Product Design)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    "Valuable insights, enriched skills, and networking hub for data analysts."
                                </p>
                                <div class="thumb-box">
                                    
                                </div>
                                <h5>Favour Edubio</h5>
                                <span>Data Analyst</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Customer Support)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    "Structured learning, vibrant community, and user-generated content for frontend devs." 
                                </p>
                                <div class="thumb-box">
                                    
                                </div>
                                <h5>Chinaza</h5>
                                <span>Frontend Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Bug Fixing)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    "TeQverse excels for full-stack engineers. Seamless integration, user-friendly, practical hosting solutions."
                                </p>
                                <div class="thumb-box">
                                    
                                </div>
                                <h5>David Akpan</h5>
                                <span>Full Stack Engineer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Bug Fixing)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    "Intuitive job search, vibrant social space, essential for frontend developers."
                                </p>
                                <div class="thumb-box">
                                    
                                </div>
                                <h5>Abiola</h5>
                                <span>Frontend Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Bug Fixing)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    "Effective backend solutions, streamlined tasks, comprehensive features for backend developers."
                                </p>
                                <div class="thumb-box">
                                    
                                </div>
                                <h5>Ezekiel </h5>
                                <span>Backend Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Star Blog
    ============================================= -->
    <div class="blog-area blog-standard bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Latest News</h5>
                        <h2>Most Popular Breaking News & Top Stories</h2>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v2.jpg" alt="Thumb">
                                <div class="date">15 Jul, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="#">The for fully had she there leave merit enjoy forth.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/1.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="#">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="#">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item thumb-less">
                        <div class="item">
                            <div class="date">18 Aug, 2021</div>
                            <h4>
                                <a href="#">Impossible admiration in particular conviction up.</a>
                            </h4>
                            <p>
                                Remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy.
                            </p>
                            <div class="footer-meta">
                               <ul>
                                   <li>
                                       <img src="/img/teams/6.jpg" alt="Author">
                                       <span>By </span>
                                       <a href="#">John Baus</a>
                                   </li>
                                   <li>
                                       <span>In </span>
                                       <a href="#">Agency</a>
                                   </li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v4.jpg" alt="Thumb">
                                <div class="date">27 Nov, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="#">Throwing sociable children to achiving point.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/3.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="#">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="#">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
