<!-- Start Banner 
    ============================================= -->
    <div class="banner-area auto-height software-banner">
        <!-- Shape -->
        <div class="shape-right-top" style="background-image: url(/img/shape/20.png);"></div>
        <!-- End Shape -->
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <!-- Shape -->
                    <div class="shape-bottom-center" style="background-image: url(/img/shape/1.png);"></div>
                    <!-- End Shape -->
                    <div class="container">
                        <div class="banner-items">
                            <div class="row align-center">
                                <div class="col-lg-6">
                                    <div class="content">
                                        <h2 class="wow fadeInDown" data-wow-duration="400ms">Great <br> ticketing shape system <br> for your customer.</h2>
                                        <p class="wow fadeInUp" data-wow-duration="500ms">
                                            Belonging in september no am immediate newspaper. september she conveying did eat may extensive. 
                                        </p>
                                        <div class="forms">
                                            <form action="#">
                                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                <button type="submit">Get Started</button>  
                                                </di>
                                            </form>
                                        </div>
                                        <ul>
                                            <li><p>14 days free trial</p></li>
                                            <li><p>No credit card</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 thumb-content-box">
                                    <div class="thumb-items">
                                        <img class="wow fadeInDown" src="/img/illustration/dashboard-2.png" alt="Dashbaord">
                                        <img class="wow fadeInUp" data-wow-delay="300ms" src="/img/illustration/chat-1.png" alt="illustration">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

      <!-- Start Features
    ============================================= -->
    <div class="simple-features-area text-center default-padding bg-theme text-light">
        <div class="container">
            <div class="row">
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-fingerprint"></i>
                        <h4>Quick Access</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-layer-group"></i>
                        <h4>Cross-Platform</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-cog"></i>
                        <h4>Easy Integration</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
            </div>
        </div>
   </div>
   <!-- End Features -->

    <!-- Star Clients Area
    ============================================= -->
    <div class="clients-area standard default-padding">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over <strong>40,000+</strong> businesses worldwide.</h5>
                        <h2>We're working best with <br>your favorite platforms</h2>
                        <a class="btn circle btn-theme effect btn-md" href="#">View All Brands</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="partner-items">
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-angular"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-blackberry"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-amazon-pay"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-codepen"></i>
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->
