<!-- Start Banner 
    ============================================= -->
    <div class="banner-area auto-height software-banner">
        <!-- Shape -->
        <div class="shape-right-top" style="background-image: url(/img/shape/20.png);"></div>
        <!-- End Shape -->
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <!-- Shape -->
                    <div class="shape-bottom-center" style="background-image: url(/img/shape/1.png);"></div>
                    <!-- End Shape -->
                    <div class="container">
                        <div class="banner-items">
                            <div class="row align-center">
                                <div class="col-lg-6">
                                    <div class="content">
                                        <h2 class="wow fadeInDown" data-wow-duration="400ms">Great <br> ticketing shape system <br> for your customer.</h2>
                                        <p class="wow fadeInUp" data-wow-duration="500ms">
                                            Belonging in september no am immediate newspaper. september she conveying did eat may extensive. 
                                        </p>
                                        <div class="forms">
                                            <form action="#">
                                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                <button type="submit">Get Started</button>  
                                                </di>
                                            </form>
                                        </div>
                                        <ul>
                                            <li><p>14 days free trial</p></li>
                                            <li><p>No credit card</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 thumb-content-box">
                                    <div class="thumb-items">
                                        <img class="wow fadeInDown" src="/img/illustration/dashboard-2.png" alt="Dashbaord">
                                        <img class="wow fadeInUp" data-wow-delay="300ms" src="/img/illustration/chat-1.png" alt="illustration">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

      <!-- Start Features
    ============================================= -->
    <div class="simple-features-area text-center default-padding bg-theme text-light">
        <div class="container">
            <div class="row">
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-fingerprint"></i>
                        <h4>Quick Access</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-layer-group"></i>
                        <h4>Cross-Platform</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
                <!-- Single Item-->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <i class="fal fa-cog"></i>
                        <h4>Easy Integration</h4>
                        <p>
                            Dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position.
                        </p>
                    </div>
                </div>
                <!-- End SIngle Item-->
            </div>
        </div>
   </div>
   <!-- End Features -->

    <!-- Star Clients Area
    ============================================= -->
    <div class="clients-area standard default-padding">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over <strong>40,000+</strong> businesses worldwide.</h5>
                        <h2>We're working best with <br>your favorite platforms</h2>
                        <a class="btn circle btn-theme effect btn-md" href="#">View All Brands</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="partner-items">
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-angular"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-blackberry"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-amazon-pay"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-codepen"></i>
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->

 <!-- Start Overview Area
    ============================================= -->
    <div class="overview-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Overview</h5>
                        <h2>Quick Software Overview</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="software-overview-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>01</span>
                                <h4>App Integration</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/1.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>02</span>
                                <h4>App Customization</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/2.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Overview Area -->

     <!-- Star Faq
    ============================================= -->
    <div class="faq-area default-padding">
        <div class="container">
            <div class="faq-items">
                <div class="row">

                    <div class="col-lg-6 thumb">
                        <img src="/img/illustration/20.png" alt="Shape">
                    </div>

                    <div class="col-lg-6">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Where can I get analytics help?
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui consectetur at, sunt maxime, quod alias ullam officiis, ex necessitatibus similique odio aut! Provident, adipisci esse vero magni necessitatibus quisquam commodi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              How much does data analytics costs?
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, illum earum nobis dolorum aliquid! Quos pariatur ipsam eum voluptates. Illum provident consequatur non aut labore, voluptates repudiandae maxime cum dolorem.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          What kind of data is needed for analysis?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iure accusamus ea, reprehenderit aspernatur deleniti corporis ad perspiciatis. Magnam sit enim animi, esse deleniti nobis quaerat veniam suscipit odit officiis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq -->

    <!-- Start Pricing Area
    ============================================= -->
    <div class="pricing-area plain default-padding-bottom bottom-less">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="/img/shape/20.png" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Our Packages</h5>
                        <h2>Take a look of our Pricing and select Your Choice</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pricing pricing-simple text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h4>Basic Plan</h4>
                                <h2><sup>$</sup>24.66 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>10 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>3 Top 10 Ranking  <i class="fas fa-times-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-gray border btn-sm" href="contact.html">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item active">
                            <div class="pricing-header">
                                <h4>Starter Plan</h4>
                                <h2><sup>$</sup>29.12 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>12 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>6 Top 10 Ranking  <i class="fas fa-check-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-theme effect btn-sm" href="contact.html">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h4>Premium Plan</h4>
                                <h2><sup>$</sup>59.50 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>16 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>8 Top 10 Ranking  <i class="fas fa-check-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-gray border btn-sm" href="contact.html">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Area -->

    <!-- Star Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Review</h5>
                        <h2>10,000+ Happy Customers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Product Design)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="/img/teams/1.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Customer Support)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="/img/teams/7.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <div class="rating">
                                    <div class="reson">
                                        (Bug Fixing)
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="/img/teams/3.jpg" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Star Blog
    ============================================= -->
    <div class="blog-area blog-standard bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Latest News</h5>
                        <h2>Most Popular Breaking News & Top Stories</h2>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v2.jpg" alt="Thumb">
                                <div class="date">15 Jul, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="blog-single-with-sidebar.html">The for fully had she there leave merit enjoy forth.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/1.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="blog-with-sidebar.html">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="blog-with-sidebar.html">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item thumb-less">
                        <div class="item">
                            <div class="date">18 Aug, 2021</div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Impossible admiration in particular conviction up.</a>
                            </h4>
                            <p>
                                Remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy.
                            </p>
                            <div class="footer-meta">
                               <ul>
                                   <li>
                                       <img src="/img/teams/6.jpg" alt="Author">
                                       <span>By </span>
                                       <a href="blog-with-sidebar.html">John Baus</a>
                                   </li>
                                   <li>
                                       <span>In </span>
                                       <a href="blog-with-sidebar.html">Agency</a>
                                   </li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v4.jpg" alt="Thumb">
                                <div class="date">27 Nov, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="blog-single-with-sidebar.html">Throwing sociable children to achiving point.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/3.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="blog-with-sidebar.html">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="blog-with-sidebar.html">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
