
<header id="home">


<ul class="button">


<!-- Start Banner 
    ============================================= -->
    <div class="banner-area top-pad-90 bg-mixed double-items text-light" style="background-image: url(/img/shape/48.png);">
        <div id="bootcarousel" class="carousel slide carousel-fade animate_text" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="content">
                                    <div class="row align-center">
                                        <div class="col-lg-6 info">
                                            <h2 class="wow fadeInDown" data-wow-duration="400ms">Start your <br>  Tech journey <br> with TEQVERSE</h2>
                                        <p class="wow fadeInUp" data-wow-duration="500ms">
                                            TEQVERSE is a specialized platform designed to cater to the needs of tech professionals in Nigeria and beyond. It encompasses four key aspects: Job Opportunities, Learning Content, Media, and Tech Resources. The platform aims to provide a holistic experience, addressing both professional and social needs within the tech community.
                                        </p>
                                        <div> 
                                            <a href="/login"><button type="submit">Explore more</button> </a>
                                        </div> 
                                        </div>
                                        <div class="col-lg-6 thumb" data-animation="animated slideInUp">
                                            <img src="/img/illustration/3.png" alt="Thumb">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </div>
    <!-- End Banner -->

      <!-- Start Features
    ============================================= -->
    <div class="our-features-area default-padding bottom-less">
        <div class="container">
            <div class="features-box">
                <div class="row">
                    <div class="col-lg-12 featur-item">
                        <div class="row">
                            <!-- Single Itme -->
                            <div class="col-lg-3 col-md-6 single-item">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-seo"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Job Opportunities</h4>
                                        <p>
                                            Choose Your Path with Hybrid, Remote, or Onsite Options. Tailored Job Filters and Recommendations for Your Tech Journey. Your Dream Job Awaits, Seize the Future!  
                                        </p>
                                        <a href="/joblist"><i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Itme -->
                            <!-- Single Itme -->
                            <div class="col-lg-3 col-md-6 single-item">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-technical-support"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Learning Content</h4>
                                        <p>
                                            Dive into Interactive Videos, Quizzes, and Consultations. Unleash Your Potential with Our Content Management Hub – Your Gateway to Skill Mastery!"
                                        </p>
                                        <a href="/learning"><i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Itme -->
                            <!-- Single Itme -->
                            <div class="col-lg-3 col-md-6 single-item">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-secure"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Media Section</h4>
                                        <p>
                                            Dive into Vibrant Video Discussions, Exclusive Interviews, and User-Generated Buzz. Uncover Tech Insights, Fun Facts, and Daily Trends
                                        </p>
                                        <a href="/media"><i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Itme -->
                            <!-- Single Itme -->
                            <div class="col-lg-3 col-md-6 single-item">
                                <div class="item">
                                    <div class="icon">
                                        <i class="flaticon-laboratory"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Tech Resources</h4>
                                        <p>
                                            Elevate Your Tech Arsenal! Unlock Exclusive Hosting Deals, Manage Access with Ease, and Optimize Resource Allocation. Your Gateway to Premium Tech Resources Starts Here 
                                        </p>
                                        <a href="#"><i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Itme -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- End Features -->

    <!-- Star Clients Area
    ============================================= -->
    <!-- <div class="clients-area standard default-padding">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over <strong>40,000+</strong> businesses worldwide.</h5>
                        <h2>We're working best with <br>your favorite platforms</h2>
                        <a class="btn circle btn-theme effect btn-md" href="#">View All Brands</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="partner-items">
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-angular"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-blackberry"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-amazon-pay"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-codepen"></i>
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Clients Area -->

 <!-- Start Overview Area
    ============================================= -->
    <!-- <div class="overview-area bg-gray default-padding"> -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Overview</h5>
                        <h2>Quick Software Overview</h2>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="container">
            <div class="software-overview-carousel owl-carousel owl-theme"> -->
                <!-- Single Item -->
                <!-- <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>01</span>
                                <h4>App Integration</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/1.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
                <!-- Single Item -->
                <!-- <div class="single-item">
                    <div class="row align-center">
                        <div class="col-lg-4">
                            <div class="left-info text-light">
                                <span>02</span>
                                <h4>App Customization</h4>
                                <p>
                                    Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high
                                </p>
                                <a class="btn circle btn-light effect btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-info">
                                <img src="/img/dashboard/2.jpg" alt="Dashbaord">
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
            <!-- </div>
        </div>
    </div> -->
    <!-- End Overview Area -->

    

    <!-- Start Pricing Area
    ============================================= -->
    <!-- <div class="pricing-area plain default-padding-bottom bottom-less"> -->
        <!-- Fixed Shape -->
        <!-- <div class="fixed-shape">
            <img src="/img/shape/20.png" alt="Shape">
        </div> -->
        <!-- Fixed Shape -->
       
        <!-- <div class="container">
            <div class="pricing pricing-simple text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item" style="height: 400px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center">
                                <h4>Vission Statement</h4>
                            </div>
                            <div>
                                <p>Empowering the global tech <br> community through a dynamic <br> platform for learning, networking <br> and career growth.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item active" style="height: 430px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center">
                                <h4>Key Objectives</h4>
                            </div>
                            <div>
                                <p>Establish Teqverse as the go-to  platform for quality tech jobs,  premium learning content, engaging social interactions and affirdable tech resources.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item" style="height: 400px;">
                            <div class="pricing-header d-flex align-items-center justify-content-center" >
                                <h4>Mission Statement</h4>
                            </div>
                            <div>
                                <p>Teqverse is committed to curating  top-tier tech Opportunities, enriching  learning experiences, fostering a vibrant  social hub, and providing accessible resources.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
    <!-- End Pricing Area -->

     <!-- Star Faq
    ============================================= -->
    <!-- <div class="faq-area default-padding">
        <div class="container">
            <div class="faq-items">
                <div class="row">

                    <div class="col-lg-6 thumb">
                        <img src="/img/illustration/20.png" alt="Shape">
                    </div>

                    <div class="col-lg-6">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is TeQverse?
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse is a comprehensive platform catering to tech professionals' needs, offering job opportunities, learning paths, media content, and essential tech resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How does TeqVerse curate job opportunities?
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                We curate job listings meticulously, focusing on quality positions with real organizations, competitive remuneration, and flexibility options like hybrid, remote, and onsite work.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What learning resources does TeQverse provide?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse offers structured learning paths, interactive content, resume building guides, interview preparation resources, and consultation booking with industry experts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What is the social space in TeQverse's media module?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                The social space includes video and audio discussions, industry interviews, tech insights, fun facts, news updates, and user-generated content submissions.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How can users filter and find jobs on TeQverse?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                TeqVerse provides user-friendly filters for job searches based on skills, experience, and preferences. Additionally, personalized job recommendations are offered.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Faq -->

    <!-- Star Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h2>Testimonials</h2>
                        <!-- <h2>10,000+ Happy Customers</h2> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonials-carousel owl-carousel owl-theme">

                            <% topReviews.forEach(review => { %>
                                <div class="item">
                                  <div class="rating">
                                    <div class="reson">
                                      (<%= review.title %>)
                                    </div>
                                    <div class="icon">
                                      <% for (let i = 0; i < Math.floor(review.rating); i++) { %>
                                        <i class="fas fa-star"></i>
                                      <% } %>
                                      <% if (review.rating % 1 !== 0) { %>
                                        <i class="fas fa-star-half-alt"></i>
                                      <% } %>
                                    </div>
                                  </div>
                                  <p>
                                    "<%= review.comment %>"
                                  </p>
                                  <div class="thumb-box">
                                    <!-- You can add additional content here if needed -->
                                  </div>
                                  <h5><%= review.fullName %></h5>
                                  <span><%= review.techSpecialty %></span>
                                </div>
                              <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Star Blog
    ============================================= -->
    <div class="blog-area blog-standard bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Latest News</h5>
                        <h2>Most Popular Breaking News & Top Stories</h2>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v2.jpg" alt="Thumb">
                                <div class="date">15 Jul, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="#">The for fully had she there leave merit enjoy forth.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/1.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="#">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="#">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item thumb-less">
                        <div class="item">
                            <div class="date">18 Aug, 2021</div>
                            <h4>
                                <a href="#">Impossible admiration in particular conviction up.</a>
                            </h4>
                            <p>
                                Remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy.
                            </p>
                            <div class="footer-meta">
                               <ul>
                                   <li>
                                       <img src="/img/teams/6.jpg" alt="Author">
                                       <span>By </span>
                                       <a href="#">John Baus</a>
                                   </li>
                                   <li>
                                       <span>In </span>
                                       <a href="#">Agency</a>
                                   </li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="/img/blog/v4.jpg" alt="Thumb">
                                <div class="date">27 Nov, 2021</div>
                                <div class="overlay">
                                    <div class="content">
                                        <h4>
                                            <a href="#">Throwing sociable children to achiving point.</a>
                                        </h4>
                                    </div>
                                    <div class="footer-meta">
                                       <ul>
                                           <li>
                                               <img src="/img/teams/3.jpg" alt="Author">
                                               <span>By </span>
                                               <a href="#">John Baus</a>
                                           </li>
                                           <li>
                                               <span>In </span>
                                               <a href="#">Creative</a>
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
