

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(/img/banner/12.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Learning</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active"> Learning</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="services-details-area default-padding">
        <div class="container">
            <div class="services-details-items">
                <div class="row">
                    <div class="col-lg-4 services-sidebar order-last order-lg-first">
                        <!-- Single Widget -->
                        <div class="single-widget services-list">
                            <h4 class="widget-title">Learning Section</h4>
                            <div class="content">
                                <ul>
                                    <li ><a href="/learning">Digital Skills</a></li>
                                    <li class="current-item"><a href="/learning-mentor">Mentorship</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                       
                        <!-- Single Widget -->
                        <div class="single-widget brochure">
                            <h4 class="widget-title">Books and materials</h4>
                            <ul>
                                <li><a href="#"><i class="fas fa-download"></i> Download Docs</a></li>
                                <li><a href="#"><i class="fas fa-file-archive"></i> Characteristics</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Single Widget -->
                        <div class="single-widget quick-contact">
                            <img src="/img/about/13.jpg" alt="Thumb">
                            <div class="content">
                                <a href="/signup"><button type="submit">Sign Up</button></a> 
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-8 services-single-content">
                        <img src="/img/banner/8.jpg" alt="Thumb">
                        <h2>Mentorship Opportunity</h2>
                        <p>
                            A mentorship program is a structured and organized initiative that facilitates the pairing of experienced individuals (mentors) with less experienced ones (mentees) to provide guidance, support, and knowledge transfer.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <!-- End Blog -->

   