<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TEQVERSE-LOGIN</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div id="wrapper">
      <div id="left">
        <div id="showcase">
          <div class="showcase-content">
            <h1 class="showcase-text">
              Let's create the future <strong>together</strong>
            </h1>
            <a href="/signup" class="secondary-btn">Sign Up for Free</a>
          </div>
        </div>
      </div>

        <div id="right">
          <div id="signup">
            <form method="POST">
              <div>
                <label>Name</label>
                <input type="text" class="text-input" name="name" placeholder="First Name and Last Name" />
              </div>
              <div>
                <label>Email</label>
                <input type="text" class="text-input" name="email" placeholder="Email Address" />
              </div>
              <div>
                <label>Password</label>
                <input type="password" class="text-input" name="password" placeholder="Password" />
              </div>
             
              <button type="submit" class="primary-btn">Sign Up</button>
            </form>
            
            
          </div>
        </div>
        
      </div>
    
</body>
</html>