<div class="authincation h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-6 col-md-7 col-sm-12 mx-auto align-self-center">
        <div class="login-form">
          <div class="text-center">
            <h3 class="title">Sign up your account</h3>
          </div>
          <form action="/signup" method="POST">
            <div class="mb-4">
              <label class="mb-1 text-dark">First Name</label>
              <input type="text" class="form-control form-control" placeholder="John" name="first_name">
            </div>
            <div class="mb-4">
              <label class="mb-1 text-dark">Last Name</label>
              <input type="text" class="form-control form-control" placeholder="Phineas" name="last_name">
            </div>
            <div class="mb-4">
              <label class="mb-1 text-dark">Email</label>
              <input type="email" class="form-control form-control" placeholder="hello@example.com" name="email">
            </div>
            <!-- Password Field -->
            <div class="mb-4 position-relative">
              <label class="mb-1 text-dark">Password</label>
              <input type="password" id="dz-password" class="form-control form-control" placeholder="Password"
                name="password">
              <span class="show-pass eye" id="eye-password" onclick="togglePassword('teq-password')">
                <i class="fa fa-eye-slash"></i>
                <i class="fa fa-eye"></i>
              </span>
              <small id="password-requirements" class="form-text text-muted">
                Password must contain at least 8 characters, including uppercase, lowercase, 1 special character and a number.
              </small>
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-4 position-relative">
              <label class="mb-1 text-dark">Confirm Password</label>
              <input type="password" id="dz-confirm-password" class="form-control form-control" placeholder="Password"
                name="password2">
              <span class="show-pass eye" id="eye-confirm-password" onclick="togglePassword('teq-confirm-password')">
                <i class="fa fa-eye-slash"></i>
                <i class="fa fa-eye"></i>
              </span>
            </div>

            <div class="text-center mb-4">
              <button type="submit" class="btn btn-primary light btn-block" >Sign Up</button>
            </div>
            <!-- <h6 class="login-title"><span>Or continue with</span></h6>
            
            <div class="mb-3">
              <ul class="d-flex align-self-center justify-content-center">
                <li><a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f btn-facebook"></a></li>
                <li><a target="_blank" href="https://www.google.com/" class="fab fa-google-plus-g btn-google-plus mx-2"></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin-in btn-linkedin me-2"></a></li>
                <li><a target="_blank" href="https://twitter.com/" class="fab fa-twitter btn-twitter"></a></li>
              </ul>
            </div> -->
            <p class="text-center">Already registered?
              <a class="btn-link" href="/login" style="color: #0554f2;">Sign In</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="pages-left h-100">
          <div class="login-content">
            <a href="/"><img src="/img/logo-blue.png" class="logo" class="mb-3" alt="Logo"></a>

            <p class="mt-2">Your true value is determined by how much more you give in value than you take in payment.
              ...</p>
          </div>
          <div class="login-media text-center">
            <img src="images/login-1" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword(passwordFieldId) {
    const passwordField = document.getElementById(passwordFieldId);
    const eyeIcon = document.getElementById(`eye-${passwordFieldId}`);

    if (passwordField && eyeIcon) {
      if (passwordField.type === 'password') {
        passwordField.type = 'text';
        eyeIcon.classList.add('show');
      } else {
        passwordField.type = 'password';
        eyeIcon.classList.remove('show');
      }
    }
  }
</script>












<!-- <body>
    <div id="wrapper">
      <div id="left">
        <div id="showcase">
          <div class="showcase-content">
            <h1 class="showcase-text">
              Let's create the future <strong>together</strong>
            </h1>
            <a href="/signup" class="secondary-btn">Sign Up for Free</a>
          </div>
        </div>
      </div>

        <div id="right">
          <div id="signup">
            <form method="POST">
              <div>
                <label>Name</label>
                <input type="text" class="text-input" name="name" placeholder="First Name and Last Name" />
              </div>
              <div>
                <label>Email</label>
                <input type="text" class="text-input" name="email" placeholder="Email Address" />
              </div>
              <div>
                <label>Password</label>
                <input type="password" class="text-input" name="password" placeholder="Password" />
              </div>
             
              <button type="submit" class="primary-btn">Sign Up</button>
            </form>
            
            
          </div>
        </div>
        
      </div>
    
</body> -->